

.container-fluid {
  background-color: whitesmoke;
}


.App-header {
  background-color:pink;
  background: lightblue url("./images/first-bikini-wax.jpg") fixed;
  background-size: 100% 100%;
  background-position: center; 
  background-repeat: no-repeat;
  width:100%;
  margin:0 auto;
  padding:10px;
  background-color: whitesmoke;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  border-bottom:2px solid gray;
  padding-bottom:15px;
}

.nav {
  width:40%;
  margin:20px 10px 20px 10px;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: navy;
  font-weight:lighter;
}

.checkin {
  width:120px;
  font-size:20px;
  text-align:center;
  margin:20px 10px 20px 10px;
  padding:5px;
  color:red;
  align-self:flex-end;
  font-weight:bold;
  /* background-color: #E1DCD6; */
}

.welcomepage {
  color:navy;
  text-align: right;
  margin:20px 10px 20px 10px;
}


a {
  text-decoration:none;
}

a:hover {
  color:gold;
  font-weight:bolder;
  transition:1s;
  text-decoration:none;
}

.wrapper {
  background-color:pink;
  width:100%;
  margin:0 auto;
  padding-bottom:15px;
  background-color: whitesmoke;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  border-bottom:1px solid gray;
  font-size: calc(10px + 2vmin);
}


.flex {
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  text-align:center;
  margin:20px 10px 20px 10px;
  background-color:white;
  padding:10px;
}

/* .grid {
  display:grid;
  grid-gap: 100px;
  margin:20px 10px 20px 10px;
} */

img.item1 {
  width:250px;
  height:auto;
  font-size:12px;
  /* background-color:lightgray; */
  /* border-radius:3px solid yellow; */
}

.item2 {
  width:70%;
  padding:15px;
  color:purple;
  text-align:left;
  background-color:whitesmoke;
  font-size:15px;
}


input, 
    textarea {
        color:navy;
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        /* background-color:whitesmoke; */
        border:0;
      }

      input[type = "submit"]{
        width: 150px;
        border-radius:2%;
        color:whitesmoke;
        cursor:pointer;
        transition:1s;
        background-color:navy;
      }

      form {
        align-self: center;
        text-align:left;
        width:75%;
        margin:10px;
        padding:5px 15px 5px 25px;
        background-color:lightgray;
        color:navy;
        border:1px solid rgb(197, 194, 194);
      }


      .footer {
        /* background-color:#1c0833; */
        /* font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif; */
        width:100%;
        height:300px;
        clear:both;
        position:sticky;
        /* text-align: center; */
        border-top: 8px solid #7b6dbb;
        color:#777777;
        margin:0 auto;
        margin-top:30px;
        padding:0px 0px 20px 0px;
        display:flex;
        flex-direction:row;
        justify-content: space-between;

    }

    .footer a {
        font-size:25px;
        color:#7664b6;
    }

    .footer a:hover {
        transform:rotate(360deg);
        color:rgb(247, 247, 6);
    }

    
    .socialmedias {
        /* background-color:whitesmoke; */
        width:20%;
        height:auto;
        text-align:center;
        margin:10px;
        padding:10px;
        display:flex;
        flex-direction:column;
        color:navy;
        justify-content: flex-start;
    }

    .socialmedias a {
   
      font-size:35px;
      text-decoration:none;
    }

